body{
	margin: 0;
	padding: 0;
	background: url(https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=1200);
	background-size: cover ;
	background-position: center;
	font-family: sans-serif;
	
}